<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="API Smoke Test Suite"
       thread-count="1" verbose="1">
    <listeners>
        <listener class-name="main.java.listeners.TestListener" />
    </listeners>
    <test name="API Automation Smoke Test Suite">

        <groups>
            <run>
                <include name="Smoke" />
                <include name="Regression" />
            </run>
        </groups>

        <classes>
            <class name="test.java.tests.UserTest" />
            <class name="test.java.tests.PostsTest" />
            <class name="test.java.tests.CommentTest" />
        </classes>
    </test>
</suite>
